*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

.contenedor{
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 90px auto;
    grid-template-rows: 60px auto;
    grid-template-areas: "header header"
                         "menu horizontal"
                         "menu contenido";
    transition: all .3s ease;
}

.contenedor.active{
    grid-template-columns: 220px auto;
}

/*Header*/
.header {
    grid-area: header;
    padding: 0 20px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    justify-content: space-between;
    grid-gap: 20px;
    grid-template-areas: "logo busqueda iconos";
}

.header .contenedor-logo{
    grid-area: logo;
    display: flex;
    align-items: center;
}

.header .contenedor-logo .btn-menu {
    border: none;
	padding: 10px;
	background: none;
	cursor: pointer;
	font-size: 18px;
	border-radius: 10px;
	width: 50px;
	height: 50px;
	margin-right: 20px;
}

.header .contenedor-logo .btn-menu:hover{
    background: #d8d0d0;
}

.header .contenedor-logo .logo .fas {
	background: #ff0000;
	padding: 7px 12px;
	border-radius: 4px;
	font-size: 12px;
	color: #fff;
	position: relative;
	margin-right: 4px;
}

.header .contenedor-logo .logo {
	font-family: 'Oswald', Arial;
	font-size: 20px;
    position: relative;
    top: -3px;
}

.header .barra-busqueda{
    grid-area: busqueda;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .barra-busqueda input{
    min-width: 50%;
    padding: 0 20px;
    height: 35px;
    line-height: 35px;
    border: 1px solid beige ;
    font-size: 20px;
    font-family: 'Open Sans';
}

.header .barra-busqueda button{
    height: 35px;
    border: 1px solid beige;
    border-left: none;
    color: dimgrey;
    background: #f8f8f8;
    padding: 0px 25px;
}

.header .barra-busqueda button:hover{
    background: #d8d0d0;
}

.header .barra-busqueda .btn-mic{
    background: none;
	border: none;
    width: 40px;
	height: 40px;
    font-size: 20px;
    padding: 7px 12px;
    border-radius: 100px;
    color: #828282;
    cursor: pointer;
}

.header .botones-header{
    grid-area: iconos;
    display: flex;
    align-items: center;
}

.header .botones-header button {
	background: none;
	border: none;
	width: 40px;
	height: 40px;
	font-size: 18px;
	padding: 7px 12px;
	border-radius: 100px;
	color: #828282;
	margin-right: 20px;
	cursor: pointer;
}

.header .botones-header button:hover{
    background: #d8d0d0;
}

.header .botones-header .avatar{
    width: 40px;
	height: 40px;
    display: inline-block;
}

.header .botones-header .avatar img{
    vertical-align: top;
    width: 100%;
    border-radius: 100px;
}

/*Menu Lateral*/
.menu-lateral {
    grid-area: menu;
    background-color: #fff;
    overflow: hidden;
}

.menu-lateral a{
    display: block;
    padding: 15px 45px;
    color: #000;
    font-size: 12px;
    border-radius: 12%;
    min-width: 800px;
}

.menu-lateral a:hover{
    background: #e5e5e5;
}

.menu-lateral a .active{
    background: #161616;
    font-weight: bold;
}

.menu-lateral .fas{
    color: #606060;
    margin-right: 32px;
    width: 20px;
    text-align: center;
}

.menu-lateral .far{
    color: #606060;
    margin-right: 32px;
    width: 20px;
    text-align: center;
}

.menu-lateral  hr{
    margin: 20px 0;
    border: 1px solid #dfdfdf;
}

.lista-suscripciones  h3 {
    
    font-size:10px;
    margin: 20px 20px;
    color:#5a5a5a;
}
.lista-suscripciones a{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    flex-wrap: wrap;
}
.lista-suscripciones a img{
width: 25px;
border-radius: 50%;
margin-right: 20px;
}

/*Contenido*/

.menu-horizontal{
    grid-area: horizontal;
    background-color: #f9f9f9;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    height: 56px;
    padding: 17px;
}

.menu-horizontal a{
    display: inline;
    padding: 5px 10px;
    margin: 5px;
    background-color: #d8d0d0;
    border: 1px solid #8f8989ea;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.menu-horizontal a:hover{
    background: #e5e5e5;
    border: 1px solid #e5e5e5;
    border-radius: 15%;
}

.main {
    grid-area: contenido;
    background-color: #f9f9f9;
    padding: 20px;
}

.main .grid-video{
    display: grid;
    grid-gap: 40px 20px;
    grid-template-columns: repeat(4, 1fr);
}

.main .grid-video .video{
    width: 100%;
    height: 90%;
    display: block;
}

.main .grid-video .video a img{
    width: 250px;
    height: 150px;
}

.main a h3{
    font-family: 'Oswald';
}

.main p{
    font-family: 'Open Sans';
    color: #5a5a5a;
}
.main a img{
    width: 250px;
    height: 150px;
}

/*video*/

.container{
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 64% auto;
    grid-template-rows: 60px auto;
    grid-template-areas: "header header"
                         "cuerpo deplegable";
    transition: all .3s ease;
}

.cuerpo{
    grid-area: cuerpo;
    background-color: #f9f9f9;
    padding-left: 45px;
    padding-top: 25px;
}

.cuerpo .datos{
    width: 100%;
    overflow: hidden;
    background-color: #fff;
}

.cuerpo .datos h3{
    display: inline-block;
    padding: 5px;
    margin-right: 90px;
}

.cuerpo .datos button{
    margin-left: 25px;
    display: inline-block;
    background: none;
	border: none;
}

.cuerpo .datos button:hover{
    background: #e5e5e5;
}

.cuerpo .datos hr{
    margin: 20px 0;
    border: 1px solid #dfdfdf;
}

.cuerpo .datos .avatar img{
    vertical-align: top;
    width: 40px;
    border-radius: 100px;
}

.cuerpo .datos h5{
    display: inline-block;
    padding: 5px;
    margin-right: 90px;
}

.cuerpo .datos .suscribe{
    margin-left: 45%;
    border: solid 1px #828282;
    padding: 7px;
}

.desplegable{
    grid-area: deplegable;
    background-color: #f9f9f9;
    grid-template-areas: "barra"
                         "list";
    padding: 20px;
}

.desplegable .barra{
    background-color: #f9f9f9;
    height: 56px;
    padding: 17px;
    margin-bottom: 10px;
    grid-area: barra;
}

.desplegable .barra a{
    display: inline-block;
    padding: 5px 10px;
    font-size: small;
    background-color: #d8d0d0;
    border: 1px solid #8f8989ea;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.desplegable .barra a:hover{
    background: #e5e5e5;
    border: 1px solid #e5e5e5;
    border-radius: 15%;
}

.desplegable .list{
    grid-area: list;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(1, 1fr);
}

.desplegable .list .video img{
    width: 168px;
    height: 94px;
    display: inline-block;
}

.desplegable .list .video .texto{
    display: inline-block;
}

.desplegable .list .video .texto h3{
    display: block;
    margin-bottom: 10px;
    font-size: medium;
}

.desplegable .list .video .texto p{
    display: block;
    margin-bottom: 2px;
    align-items: center;
    width: fit-content;
    flex-wrap: wrap;
}